name: Build

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron:  '0 * * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        repository: emacs-eask/cli

    - name: Move lisp to HOME
      run: |
        mv lisp ~/lisp
        rm -rf ~/lisp/extern

    - uses: actions/checkout@v6

    - uses: jcs090218/setup-emacs@master
      with:
        version: 30.2

    - uses: emacs-eask/setup-eask@master
      with:
        version: 'snapshot'

    - name: Build source - eask-core.el
      continue-on-error: true
      run:
        make build-source

    - name: Set git config
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com

    - name: Push generated source
      continue-on-error: true
      run: |
        git pull
        git add .
        git commit -m "Update source, eask-core.el"
        git push
